<fieldset class="subfields">
  <legend><%= f.label :endereco %></legend>
  <%= f.fields_for :local do |l| %>
    <div class="field">
      <%= l.label :pais %><br>
      <%= l.collection_select(:pais, Country.all, :iso, :name,
        {:prompt => '--'}, {:id => 'local_pais', :class => 'selectbox'}) %>
    </div>

    <div class="field">
      <%= l.label :cep %><br>
      <%= l.text_field :cep, id: 'local_cep', class: 'inputbox maskCep' %>
    </div>

    <div class="field">
      <%= l.label :estado %><br>
      <%= l.collection_select(:estado, Estado.all, :rg, :nome,
        {:prompt => '--'}, {:id => 'local_estado', :class => 'selectbox'}) %>
      <%= l.hidden_field :estado_nome, id: 'local_estado_nome' %>
    </div>
    <div class="field">
      <%= l.label :cidade %><br>
      <%= l.autocomplete_field :cidade, autocomplete_cidade_nome_locais_path,
        :fields => {:estado => '#local_estado'}, id: 'local_cidade',
        class: 'inputbox' %>
    </div>
      <div class="field">
      <%= l.label :bairro %><br>
      <%= l.text_field :bairro, id: 'local_bairro', class: 'inputbox' %>
    </div>
    <div class="field">
      <%= l.label :logradouro %><br>
      <%= l.text_field :logradouro, id: 'local_logradouro',
        class: 'inputbox geotrigger' %>
    </div>
    <div class="field">
      <%= l.label :numero %><br>
      <%= l.text_field :numero, id: 'local_numero', class: 'inputbox geotrigger' %>
    </div>
    <div class="field">
      <%= l.label :complemento %><br>
      <%= l.text_field :complemento, id: 'local_complemento', class: 'inputbox' %>
    </div>

    <div class="field">
        <%= l.label :localizacao %><br>
        <%= l.hidden_field :latitude, id: 'local_latitude' %>
        <%= l.hidden_field :longitude, id: 'local_longitude' %>
        <div id="map-canvas-cad"></div>
        <script type="text/javascript">
            $(document).ready(function() {

                Cadastros.init();

                var getAddress = function() {
                    var addressArray = new Array();

                    addressArray.push($('#local_logradouro').val());
                    addressArray.push($('#local_numero').val());
                    addressArray.push($('#local_bairro').val());
                    addressArray.push($('#local_cidade').val());
                    addressArray.push($('#local_estado')
                      .find('option:selected').text());
                    addressArray.push($('#local_pais')
                      .find('option:selected').text());

                    return addressArray.filter(function(val) {
                        return val !== null && 0 !== val.length;
                    }).join(", ");
                };

                CablushSelectMap.setCoords = function(latitude, longitude){
                    $('#local_latitude').val(latitude);
                    $('#local_longitude').val(longitude);
                };

                $('.geotrigger').on('change paste', function() {
                    CablushSelectMap.setAddress(getAddress());
                });

                CablushSelectMap.init($('#map-canvas-cad')[0],
                                      $('#local_latitude').val(),
                                      $('#local_longitude').val(),
                                      '<%= type %>' );
            });
        </script>
    </div>
  <% end %>
</fieldset>
