<div class="field">
  <%= f.label 'CEP' %><br>
  <%= f.text_field :cep, class: 'inputbox' %>
</div>
<div class="field">
  <%= f.label 'Estado' %><br>
  <%= f.collection_select(:estado, Estado.all, :rg, :nome, {:prompt => 'Selecione o Estado'}, {:class=>'selectbox geocode'}) %>
</div>
<div class="field">
  <%= f.label 'Cidade' %><br>
  <%= f.collection_select(:cidade, Cidade.all, :nome, :nome, {:prompt => 'Selecione a Cidade'}, {:class=>'selectbox geocode'}) %>
</div>
  <div class="field">
  <%= f.label 'Bairro' %><br>
  <%= f.text_field :bairro, class: 'inputbox geocode' %>
</div>
<div class="field">
  <%= f.label 'Logradouro' %><br>
  <%= f.text_field :logradouro, class: 'inputbox geocode geotrigger' %>
</div>
<div class="field">
  <%= f.label 'Número' %><br>
  <%= f.text_field :numero, class: 'inputbox geocode geotrigger' %>
</div>
<div class="field">
  <%= f.label 'Complemento' %><br>
  <%= f.text_field :complemento, class: 'inputbox' %>
</div>

<div class="field">
    <%= f.label 'Localização' %><br>
    <%= f.hidden_field :latitude, id: 'local_latitude' %>
    <%= f.hidden_field :longitude, id: 'local_longitude' %>
    <div id="map-canvas-cad"></div>
    <script src="https://maps.googleapis.com/maps/api/js?v=3&key=<%= Rails.application.secrets.js_api_key %>&callback=initMapCad" async defer></script>
</div>
