<div class="field">
  <%= f.label 'CEP' %><br>
  <%= f.text_field :cep, id: 'local_cep', class: 'inputbox maskCep' %>
</div>
<div class="field">
  <%= f.label 'Estado' %><br>
  <%= f.collection_select(:estado, Estado.all, :rg, :nome, 
    {:prompt => 'Selecione o Estado'}, {:id => 'local_estado', :class => 'selectbox'}) %>
</div>
<div class="field">
  <%= f.label 'Cidade' %><br>
  <%= f.autocomplete_field :cidade, autocomplete_cidade_nome_cadastros_lojas_path, 
    :fields => {:estado => '#local_estado'}, id: 'local_cidade', class: 'inputbox' %>
</div>
  <div class="field">
  <%= f.label 'Bairro' %><br>
  <%= f.text_field :bairro, id: 'local_bairro', class: 'inputbox' %>
</div>
<div class="field">
  <%= f.label 'Logradouro' %><br>
  <%= f.text_field :logradouro, id: 'local_logradouro', class: 'inputbox geotrigger' %>
</div>
<div class="field">
  <%= f.label 'Número' %><br>
  <%= f.text_field :numero, id: 'local_numero', class: 'inputbox geotrigger' %>
</div>
<div class="field">
  <%= f.label 'Complemento' %><br>
  <%= f.text_field :complemento, id: 'local_complemento', class: 'inputbox' %>
</div>

<div class="field">
    <%= f.label 'Localização' %><br>
    <%= f.hidden_field :latitude, id: 'local_latitude' %>
    <%= f.hidden_field :longitude, id: 'local_longitude' %>
    <div id="map-canvas-cad"></div>
    <script type="text/javascript">
        $(document).ready(function() {
            
            var getAddress = function() {
                var addressArray = new Array();

                addressArray.push($('#local_logradouro').val());
                addressArray.push($('#local_numero').val());
                addressArray.push($('#local_bairro').val());
                addressArray.push($('#local_cidade').val());
                addressArray.push($('#local_estado').find('option:selected').text());

                return addressArray.filter(function(val) { 
                    return val !== null && 0 !== val.length; 
                }).join(", ");
            };
            
            CablushSelectMap.setCoords = function(latitude, longitude){
                $('#local_latitude').val(latitude);
                $('#local_longitude').val(longitude);
            };

            $('.geotrigger').on('change paste', function() {
                CablushSelectMap.setAddress(getAddress());
            });
            
            CablushSelectMap.init($('#map-canvas-cad')[0], 
                                  $('#local_latitude').val(), 
                                  $('#local_longitude').val());
        });
    </script>
</div>
