<%= form_for @loja, html: { multipart: true } do |f| %>
  
  <div class="field">
    <%= f.label 'Nome Fantasia' %><br>
    <%= f.text_field :nome, class: 'inputbox' %>
  </div>
  <div class="field">
    <%= f.label 'Telefone' %><br>
    <%= f.text_field :telefone, class: 'inputbox'  %>
  </div>
  <div class="field">
    <%= f.label 'Email' %><br>
    <%= f.text_field :email, class: 'inputbox'  %>
  </div>
  <div class="field">
    <%= f.label 'Site' %><br>
    <%= f.text_field :website, class: 'inputbox'  %> 
  </div>
  <div class="field">
    <%= f.label 'Facebook' %><br>
    <%= f.text_field :facebook, class: 'inputbox'  %>
  </div>
  <div class="field">
    <%= f.label 'Logotipo' %><br>
    <%= f.file_field :logo %>
  </div>
  <div class="field">
    <%= f.label 'Fundo Preto' %>
    <%= f.check_box :fundo %>
  </div>
  <div class="field">
    <%= f.label 'Descrição' %><br>
    <%= f.text_area :descricao, class: 'textarea-box', :maxlength => 250, :cols => 5, :rows => 10 %>
  </div>
  <fieldset class="subfields">
      <legend>Esportes</legend>
      <%= hidden_field_tag("loja[esporte_ids][]", nil) %>
      <ul>
        <% Esporte.order(:categoria, :nome).each do |esporte| %>
          <li><%= check_box_tag("loja[esporte_ids][]", esporte.id, esporte.id.in?(@loja.esportes.collect(&:id))) %><%= esporte.full_name %></li>
        <% end -%>
      </ul>
  </fieldset>
  <fieldset class="subfields">
      <legend>Endereço</legend>
      <%= f.fields_for :local do |local| %>
        <%= render 'locais/local_fields', f: local %>
      <% end %>
  </fieldset>
  <fieldset class="subfields">
      <legend>Horário de Funcionamento </legend>
      <%= f.fields_for :horarios do |horario| %>
        <%= render 'horarios/form_horario', horario: horario %>
      <% end %>
  </fieldset>
  
  <div class="actions">
    <%= f.submit "Cadastrar loja", class: 'btn1 btn-primary btn-normal btn-inline' %>
  </div>
<% end %>