<div class="title">
    <% if dialog %>
      <%= pista.nome %>
    <% else %>
      <%= link_to pista.nome, pista_path(pista), class: "lnk_dialog" %>
    <% end %>
    <div class="foto">
      <% if pista.foto.exists? %>
        <%= link_to pista.foto.url(:original), class: "fancybox" do %>
          <%= image_tag pista.foto.url(:small), class: pista.fundo? ? "fundo" : nil, alt: pista.nome %>
        <% end %>
      <% end %>
    </div>
</div>  

<div class="desc">
    <%= pista.descricao %>
</div>

<div class="local_attr">
  <ul>
    <% if pista.video.present? %>
      <li>
        <%= link_to url_with_protocol(pista.video), class: 'fancybox-media' do %>
          <i class="fa fa-video-camera"></i>
          <%= pista.video %>
        <% end %>
      </li>
    <% end %>
    <% if pista.website.present? %>
      <li>
        <%= link_to url_with_protocol(pista.website), target: '_blank' do %>
          <i class="fa fa-link"></i>
          <%=  pista.website %>
        <% end %>
      </li>
    <% end %>
    <% if pista.facebook.present? %>
      <li>
        <%= link_to url_with_protocol(pista.facebook), target: '_blank' do %>
          <i class="fa fa-facebook-square"></i>
          <%=  pista.facebook %>
        <% end %>
      </li>
    <% end %>
    <% if local.endereco.present? %>
      <li>
        <i class="fa fa-building attr_ico"></i>
        <span class="attr_txt"><%=  local.endereco %></span>
      </li>
    <% end %>
    <% if dialog %>
      <li>
          <%= render "layouts/shares", localizavel: pista, picture_url: pista.foto_url, localizavel_url: pistas_url, localizavel_type: "Place" %>
      </li>
    <% end %>
  </ul>
</div>
