<div class="title">
    <%= pista.nome %>
    <div class="foto">
      <% if pista.foto.exists? %>
        <%= link_to pista.foto.url(:original), rel: "lightbox" do %>
          <%= image_tag pista.foto.url(:small), class: pista.fundo? ? "fundo" : nil, alt: pista.nome %>
        <% end %>
      <% end %>
    </div>
</div>  

<div class="desc">
    <%= pista.descricao %>
</div>

<div class="local_attr">
  <ul>
    <% if pista.website.present? %>
      <li>
        <%= link_to url_with_protocol(pista.website), :target => '_blank' do %>
          <i class="fa fa-link"></i>
          <%=  pista.website %>
        <% end %>
      </li>
    <% end %>
    <% if pista.facebook.present? %>
      <li>
        <%= link_to url_with_protocol(pista.facebook), target: '_blank' do %>
          <i class="fa fa-facebook-square"></i>
          <%=  pista.facebook %>
        <% end %>
      </li>
    <% end %>
    <% if local.endereco.present? %>
      <li>
        <i class="fa fa-building attr_ico"></i>
        <span class="attr_txt"><%=  local.endereco %></span>
      </li>
    <% end %>
    <% if dialog %>
      <li>
          <a href="https://www.facebook.com/dialog/feed?app_id=<%= Rails.application.secrets.facebook_key %>&display=popup&link=<%= pistas_url %>&picture=<%= pista.foto_url %>&name=<%= pista.share_message %>&redirect_uri=<%= pistas_url %>" 
             class='fb_share btn-facebook btn1 btn-primary btn-normal btn-share'>
            <i class="fa fa-facebook fa-2x"></i>
            <span>Share</span>
          </a>
          <script type="text/javascript">
            //Utils.openPopup('.fb_share', 'Facebook');
            Facebook.loadFeed('<%= pista.nome %>', '<%= pistas_url %>', '<%= pista.foto_url %>', '<%= pista.share_message %>', '<%= pista.share_message %>');
          </script>
          <a href="https://twitter.com/share?url=<%= pistas_url %>&via=cablushApp&hashtags=cablush&text=<%= pista.share_message %>"
             class='tw_share btn-twitter btn1 btn-primary btn-normal btn-share'>
            <i class="fa fa-twitter fa-2x"></i>
            <span>Share</span>
          </a>
          <script type="text/javascript">
              Utils.openPopup('.tw_share', 'Twitter');
          </script>
      </li>
    <% end %>
  </ul>
</div>
