<ul class="list1">
  <% @categorias.each do |categoria| %>
    <li>
      <div class="elem-list">
        <div class="title_list">
          <%= t('views.cadastros.categoria_nome', categoria: categoria.nome) %>
          <label class="tip">
            <%= t('views.cadastros.participantes_numero',
              length: categoria.participantes.length) %>
          </label>
        </div>
        <label class="tip float-rt pad-right">
          <%= t('views.cadastros.datatable_tip') %>
        </label>
        <table class="participantes_categoria display clickable pad-horizontal">
          <thead>
            <tr>
              <th>--</th>
              <th><%= t 'helpers.label.participante.classificacao' %></th>
              <th><%= t 'helpers.label.participante.nome' %></th>
              <th><%= t 'helpers.label.participante.numero_inscricao' %></th>
            </tr>
          </thead>
          <tbody>
            <% categoria.participantes.each do |participante| %>
              <tr>
                <td><%= participante.uuid %></td>
                <td><%= participante.classificacao %></td>
                <td><%= participante.nome %></td>
                <td><%= participante.numero_inscricao %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </li>
  <%end%>
</ul>
