<%= form_for [:cadastros, @evento], html: { multipart: true } do |f| %>

  <%= render "layouts/error_messages", :target => @evento %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome, class: 'inputbox' %>
  </div>
  <div class="field">
    <%= f.label :descricao %><br>
    <%= f.text_area :descricao, class: 'textarea-box', :maxlength => 500, :cols => 5, :rows => 10 %>
    <div class="textcount"><span>500</span> <%= f.label :chars_remaining %></div>
  </div>
  <div class="field">
    <%= f.label :data %><br>
    <%= f.text_field :data, id: 'evento_data', class: 'inputbox maskData' %>
    <script type="text/javascript">
      $(function () {
        $("#evento_data").datepicker({
            dateFormat:'dd/mm/yy',
            language: 'pt-BR',
            minDate: 0,
            onSelect: function(dateText, inst) {
                $("#evento_data_fim").datepicker("option", "minDate", dateText);
                $("#evento_data_fim").datepicker("setDate", dateText);
            }
        });
      });
    </script>
  </div>
  <div class="field">
    <%= f.label :hora %><br>
    <%= f.time_select :hora,  {prompt: {hour: "Hora", minute: "Minuto"}}, {class: 'selectbox timeselector'}%>
  </div>
  <div class="field">
    <%= f.label :data_fim %><br>
    <%= f.text_field :data_fim, id: 'evento_data_fim', class: 'inputbox maskData' %>
    <script type="text/javascript">
      $(function () {
        $("#evento_data_fim").datepicker({
            dateFormat:'dd/mm/yy',
            language: 'pt-BR',
            minDate: 0
        });
      });
    </script>
  </div>
  <div class="field">
    <%= f.label :website %><br>
    <%= f.text_field :website, class: 'inputbox'  %>
  </div>
  <div class="field">
    <%= f.label :facebook %><br>
    <%= f.text_field :facebook, class: 'inputbox'  %>
  </div>
  <div class="field">
    <%= f.label :flyer %><br>
    <%= f.file_field :flyer %><br>
    <%= image_tag @evento.flyer.url(:small), :class => @evento.fundo? ? "fundo" : nil %>
  </div>
  <div class="field">
    <%= f.label :fundo %>
    <%= f.check_box :fundo %>
  </div>
  <fieldset class="subfields">
      <legend><%= f.label :esportes %></legend>
      <%= hidden_field_tag('evento[esporte_ids][]', nil) %>
      <%= render 'esportes/esportes_fields', f: f, esportes: @evento.esportes %>
  </fieldset>
  <fieldset class="subfields">
      <legend><%= f.label :endereco %></legend>
      <%= f.fields_for :local do |local| %>
        <%= render 'locais/local_fields', f: local, type: 'Evento' %>
      <% end %>
  </fieldset>
  <div class="actions">
    <%= f.submit class: 'btn1 btn-primary btn-normal btn-inline' %>
  </div>
<% end %>
