<input type="button" value="<%= t('views.cadastros.add_participante') %>"
  class="btn_auto btn_participante_add btn-inline" />

<div class="ui-hidden-widget">
  <div id="modal_participantes" class="modal-body">
    <%= fields_for :participantes, Participante.new do |f|%>
      <div class="form-inputs">
        <fieldset class="subfields">
          <legend><%= t('views.cadastros.participante') %></legend>
          <div class="field">
            <%= f.label :categoria %>
            <%= select(:categoria, "categoria_uuid",
              @categorias.collect {|c| [ c.nome, c.uuid ] },
              {prompt: t('views.cadastros.categoria') }, {class: 'selectbox'}) %>
          </div>
          <div class="field">
            <%= f.label :nome %>
            <%= f.text_field :nome, class: 'inputbox' %>
          </div>
          <div class="field">
            <%= f.label :numero_inscricao %>
            <%= f.text_field :numero_inscricao, class: 'inputbox' %>
          </div>
          <div class="field">
            <%= f.label :classificacao %>
            <%= f.text_field :classificacao, class: 'inputbox' %>
          </div>
          <button type="button"
            class="btn_participante_save btn1 btn-primary btn-normal btn-inline">
            <%= t('views.cadastros.save_participante') %>
          </button>
      </div>
    <% end %>
  </div>
</div>
