<%= render "layouts/content_header" %>

<div class="content-head">
  <div class="wrap">
    <ul class="events">
      <li class="active"><a href="#"><%= t 'views.devise.editar_head' %></a></li>
    </ul>
    <div class="clear"></div>
  </div>
</div>

<div class="main">
  <div class="wrap">
    <div class="wrap-content">
      <%= simple_form_for :usuario, url: registration_path(:usuario),
        html: { method: :put, autocomplete: 'off' } do |f| %>
        <%= devise_error_messages! %>

        <%= f.input :nome %>
        <%= f.input :email, readonly: true %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>
            <%= t('views.devise.confirmacao', email: resource.unconfirmed_email) %>
          </div>
        <% end %>

        <%= render 'cadastros/common/esportes_fields', f: f, esportes: @usuario.esportes %>

        <fieldset class="subfields collapsible">
          <legend>
            <%= t 'views.devise.change_password' %>
            <span class="tip"><%= t 'views.devise.change_password_tip' %></span>
          </legend>
          <div class="content">
            <%= f.input :password, autocomplete: "off", readonly: true,
              input_html: {onFocus: "this.removeAttribute('readonly');"} %>
            <%= f.input :password_confirmation, autocomplete: "off" %>
          </div>
        </fieldset>
        <script type="text/javascript">
          $(document).ready(function() {
            Cadastros.init();
            // Collapsible Fieldset
            $('fieldset.collapsible .content').hide();
            $('fieldset.collapsible legend').click(function(){
              $(this).parent().find('.content').slideToggle("slow");
            });
          });
        </script>

        <br>

        <fieldset class="subfields">
          <legend>
            <%= t 'views.devise.confirm_changes' %>
            <span class="tip"><%= t 'views.devise.confirm_changes_tip' %></span>
          </legend>
          <%= f.input :current_password, autocomplete: "off" %>
        </fieldset>

        <%= f.button :submit, value: t('button.update'),
          class: 'btn1 btn-primary btn-normal btn-inline' %>
      <% end %>

      <div class="bottom-links">
        <%= button_to t('views.devise.cancel_account'),
          registration_path(resource_name),
          data: { confirm: t('views.devise.confirm_cancel_account') },
          method: :delete, class: 'lnk1' %>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>
