<div class="content-box">
    <div class="wrap">
        <ul class="events">
            <li class="active"><a href="#">Editar perfil</a></li>
        </ul>
        <div class="clear"></div>
    </div>
</div>

<div class="main">
    <div class="wrap">
        <div class="wrap-content"> 
          <%= simple_form_for :usuario, :url => registration_path(:usuario), html: { method: :put, autocomplete: 'off' }  do |f| %>
            <%= devise_error_messages! %>
            
            <%= f.input :nome, label: 'Nome' %>
            <%= f.input :email, label: 'Email', :readonly => true %>
            
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Aguardando confirmação para: <%= resource.unconfirmed_email %></div>
            <% end %>
            
            <fieldset class="subfields">
                <legend>Esportes favoritos</legend>
                <%= hidden_field_tag("usuario[esporte_ids][]", nil) %>
                <ul>
                  <% Esporte.order(:categoria, :nome).each do |esporte| %>
                    <li><%= check_box_tag("usuario[esporte_ids][]", esporte.id, esporte.id.in?(@usuario.esportes.collect(&:id))) %><%= esporte.full_name %></li>
                  <% end -%>
                </ul>
            </fieldset>
            
            <fieldset class="subfields collapsible">
                <legend>Alterar senha <span class="tip">(Clique aqui para alterar sua senha atual)</span></legend>
                <div class="content">
                  <%= f.input :password, label: 'Nova Senha', autocomplete: "off", readonly: true, input_html: {onFocus: "this.removeAttribute('readonly');"} %>
                  <%= f.input :password_confirmation, label: 'Confirmar Senha', autocomplete: "off" %>
                </div>
            </fieldset>
              
            <br>
            
            <fieldset class="subfields">
                <legend>Confirmar alterações <span class="tip">(Insira sua senha atual para confirmar as alterações)</span></legend>
                <%= f.input :current_password, label: 'Senha Atual', autocomplete: "off" %>
            </fieldset>
            
            <%= f.button :submit, value: 'Atualizar', label: 'Atualizar', class: 'btn1 btn-primary btn-normal btn-inline float-lt' %>
          <% end %>
          <p>
          <%= button_to "Cancelar conta", registration_path(resource_name), :data => { :confirm => "Tem certeza? Sentiremos a sua falta. :(" }, :method => :delete, :class => 'lnk1 cancel_link' %>
          </p>
        </div>
    </div>
    <div class="clear"></div>
</div>