<div class="content-box">
    <div class="wrap">
        <ul class="events">
            <li class="active"><a href="#">Criar perfil</a></li>
        </ul>
        <div class="clear"></div>
    </div>
</div>

<div class="main">
    <div class="wrap">
        <div class="wrap-content"> 
          <% unless usuario_signed_in? %>
            <%= simple_form_for :usuario, :url => registration_path(:usuario), html: { autocomplete: 'off' }  do |f| %>
              <%= devise_error_messages! %>
            
              <%= f.input :nome, label: 'Nome' %>
              <%= f.input :email, label: 'Email' %>
              <%= f.input :password, label: 'Senha', autocomplete: "off", readonly: true, input_html: {onFocus: "this.removeAttribute('readonly');"} %>
              <%= f.input :password_confirmation, label: 'Confirmar Senha', autocomplete: "off" %>
              <%= f.input :lojista, label: 'Sou Lojista (será verificado posteriormente)', :as => :boolean, class: 'checkbox' %>
              
              <%= f.button :submit, value: 'Cadastrar', label: 'Cadastrar', class: 'btn1 btn-primary btn-normal btn-inline' %>
            <% end %>    
          <%else%>
            <% controller.redirect_to root_path(:registered => "true") %>
          <% end %>
        </div>
    </div>
    <div class="clear"></div>
</div>