<fieldset class="subfields">
  <legend><%= t('views.cadastros.categorias') %></legend>

  <div class="field">
    Categoria<span class="tip"> (Clique no nome para editar ou marque a caixa para remover)</span>
  </div>
  <%= f.fields_for :categorias do |c| %>
    <div class="field categoria_item">
      <%= c.hidden_field :id %>
      <%= c.hidden_field :uuid %>
      <%= c.hidden_field :regras %>
      <%= c.hidden_field :descricao %>
      <%= c.text_field :nome, readonly: true, class: 'inputbox inputbox_auto' %>
      <%= c.check_box :_destroy %>
    </div>
  <% end %>

  <% if categorias.blank? %>
    <div class="field categoria_item" style="display: none">
      <%= hidden_field_tag "campeonato[categorias_attributes][0][id]", ''%>
      <%= hidden_field_tag "campeonato[categorias_attributes][0][uuid]", ''%>
      <%= hidden_field_tag "campeonato[categorias_attributes][0][regras]", '' %>
      <%= hidden_field_tag "campeonato[categorias_attributes][0][descricao]", '' %>
      <%= text_field_tag "campeonato[categorias_attributes][0][nome]", '',
        readonly: true, class: 'inputbox inputbox_auto' %>
      <%= check_box_tag "campeonato[categorias_attributes][0][_destroy]" %>
    </div>
  <% end %>

  <div class="field">
    <input type="button" value="<%= t('views.cadastros.add_categoria') %>"
      class="btn_auto btn_categoria_add btn-inline" />
  </div>

</fieldset>

<%= render 'categoria_form', f: f %>
