<div class="ui-hidden-widget">
  <div id="modal_categorias" class="modal-body">
    <%= f.fields_for :categorias, Categoria.new do |n|%>
      <div class="form-inputs">
        <fieldset class="subfields">
          <legend><%= t('views.cadastros.categoria') %></legend>
          <input type="hidden" id="id">
          <input type="hidden" id="uuid">
          <input type="hidden" id="index">
          <div class="field">
            <%= f.label :nome %>
            <input type="text" id="nome" class="inputbox">
          </div>
          <div class="field">
            <%= f.label :descricao %>
             <textarea type="text" id="descricao" rows="10" cols="5"
              maxlength="500" class="textarea-box"></textarea>
          </div>
          <div class="field">
            <%= f.label :regras %>
            <textarea type="text" id="regras" rows="10" cols="5"
              maxlength="500" value="" class="textarea-box"></textarea>
          </div>
          <button type="button" class="btn_categoria_save btn1 btn-primary btn-normal btn-inline">
            <%= t('views.cadastros.save_categoria') %>
          </button>
        </fieldset>
      </div>
    <% end %>
  </div>
</div>
