<%= form_for [:cadastros, @campeonato], html: { multipart: true } do |f| %>

  <%= render "layouts/error_messages", :target => @campeonato %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome, class: 'inputbox' %>
  </div>
  <div class="field">
    <%= f.label :descricao %><br>
    <%= f.text_area :descricao, class: 'textarea-box', :maxlength => 500,
      :cols => 5, :rows => 10 %>
    <div class="textcount"><span>500</span> <%= f.label :chars_remaining %></div>
  </div>
  <div class="field">
    <%= f.label :data_inicio %><br>
    <%= f.text_field :data_inicio, id: 'campeonato_data', class: 'inputbox maskData' %>
    <script type="text/javascript">
      $(function () {
        $("#campeonato_data").datepicker({
            dateFormat:'dd/mm/yy',
            language: 'pt-BR',
            minDate: 0,
            onSelect: function(dateText, inst) {
                $("#campeonato_data_fim").datepicker("option", "minDate", dateText);
                $("#campeonato_data_fim").datepicker("setDate", dateText);
            }
        });
      });
    </script>
  </div>
  <div class="field">
    <%= f.label :hora %><br>
    <%= f.time_select :hora,  {prompt: {hour: "--", minute: "--"}},
      {class: 'selectbox timeselector'}%>
  </div>
  <div class="field">
    <%= f.label :data_fim %><br>
    <%= f.text_field :data_fim, id: 'campeonato_data_fim',
      class: 'inputbox maskData' %>
    <script type="text/javascript">
      $(function () {
        $("#campeonato_data_fim").datepicker({
            dateFormat:'dd/mm/yy',
            language: 'pt-BR',
            minDate: 0
        });
      });
    </script>
  </div>

  <%= render 'esportes/esportes_fields', f: f, esportes: @campeonato.esportes %>

  <fieldset class="subfields">
    <legend><%= f.label :competidores_categoria %></legend>
    <div class="field">
      <%= f.label :max_competidores_categoria %><br>
      <%= f.text_field :max_competidores_categoria, class: 'inputbox' %>
    </div>
    <div class="field">
      <%= f.label :min_competidores_categoria %><br>
      <%= f.text_field :min_competidores_categoria, class: 'inputbox' %>
    </div>
  </fieldset>
  <fieldset class="subfields">
    <legend><%= f.label :competidores_prova %></legend>
    <div class="field">
      <%= f.label :max_competidores_prova %><br>
      <%= f.text_field :max_competidores_prova, class: 'inputbox' %>
    </div>
    <div class="field">
      <%= f.label :min_competidores_prova %><br>
      <%= f.text_field :min_competidores_prova, class: 'inputbox' %>
    </div>
    <div class="field">
      <%= f.label :num_vencedores_prova %><br>
      <%= f.text_field :num_vencedores_prova, class: 'inputbox' %>
    </div>
  </fieldset>

  <%= render 'categorias', f: f, categorias: @campeonato.categorias %>

  <%= render 'locais/local_fields', f: f, type: 'Campeonato' %>

  <div class="actions">
    <%= f.submit class: 'btn1 btn-primary btn-normal btn-inline' %>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    Utils.initModal();
    Categoria.init();
  });
</script>
