<%= form_for [:cadastros, @campeonato], html: { multipart: true } do |f| %>
  
  <%= render "layouts/error_messages", :target => @campeonato %>

  <div class="field">
    <%= f.label 'Nome' %><br>
    <%= f.text_field :nome, class: 'inputbox' %>
  </div>
  <div class="field">
    <%= f.label 'Descrição' %><br>
    <%= f.text_area :descricao, class: 'textarea-box', :maxlength => 500, :cols => 5, :rows => 10 %>
    <div class="textcount"><span>500</span> caracteres restantes</div>
  </div>
  <div class="field">
    <%= f.label 'Data' %><br>
    <%= f.text_field :data_inicio, id: 'campeonato_data', class: 'inputbox maskData' %>
    <script type="text/javascript">
      $(function () {
        $("#campeonato_data").datepicker({
            dateFormat:'dd/mm/yy',
            language: 'pt-BR',
            minDate: 0,
            onSelect: function(dateText, inst) {
                $("#campeonato_data_fim").datepicker("option", "minDate", dateText);
                $("#campeonato_data_fim").datepicker("setDate", dateText);
            }
        });
      });
    </script>
  </div>
  <div class="field">
    <%= f.label 'Hora' %><br>
    <%= f.time_select :hora,  {prompt: {hour: "Hora", minute: "Minuto"}}, {class: 'selectbox timeselector'}%>
  </div>
  <div class="field">
    <%= f.label 'Data Fim' %><br>
    <%= f.text_field :data_fim, id: 'campeonato_data_fim', class: 'inputbox maskData' %>
    <script type="text/javascript">
      $(function () {
        $("#campeonato_data_fim").datepicker({
            dateFormat:'dd/mm/yy',
            language: 'pt-BR',
            minDate: 0
        });
      });
    </script>
  </div>
<fieldset class="subfields">
      <legend>Etapas</legend>
  <%= f.fields_for :etapas, Etapa.new do |n|%>
     <div class="field">
      <%= n.label 'Nome:' %><br />
      <%= n.text_field :nome, class: 'inputbox' %> 
    </div>
    <div class="field">
      <%= n.label 'Quantidade de provas' %><br />
      <%= n.text_field :qtdProvas, class: 'inputbox' %>  
    </div>
    <div class="field">
      <%= n.label 'Quantidade de participante por provas' %><br />
      <%= n.text_field :numCompetidoresProva, class: 'inputbox' %> 
    </div>
  <% end %>

</fieldset>

  <div class="actions">
    <%= f.submit "Confirmar", class: 'btn1 btn-primary btn-normal btn-inline' %>
  </div>
<% end %>