<div class="content-head">
    <div class="wrap">
        <ul class="events">
            <li class="<%= is_active(cadastros_campeonatos_path, true)%> ">
              <%= link_to 'Campeonatos', cadastros_campeonatos_path %>
            </li>
            <% if request.path.try(:ends_with?, 'edit') %>
              <li class='active'>
                <a href="#">Editar Campeonato</a>
              </li>
            <% else %>
              <li class='<%= is_active(new_cadastros_campeonato_path, true)%>'>
                <%= link_to 'Novo Campeonato', new_cadastros_campeonato_path %>
              </li>
            <%  end %>
              <%= link_to 'Gerenciar Campeonatos', cadastros_campeonatos_path %>
        </ul>
        <div class="clear"></div>
    </div>
</div>