<div class="field">
  <%= horario.label 'Dias' %><br>
  <%= horario.text_field :dias, class: 'inputbox'  %>
</div>
<div class="field">
  <%= horario.label 'Período' %><br>
  <%= horario.text_field :periodo, class: 'inputbox'  %>
</div>
<div class="field">
  <%= horario.label 'Início' %><br>
  <%= horario.text_field :inicio, class: 'inputbox'  %>
</div>
<div class="field">
  <%= horario.label 'Fim' %><br>
  <%= horario.text_field :fim, class: 'inputbox'  %>
</div>