<div class="content-head">
  <div class="wrap">
    <ul class="events">
      <li class="active"><a href="#"><%= t 'views.devise.change_password_head' %></a></li>
    </ul>
    <div class="clear"></div>
  </div>
</div>

<div class="main">
  <div class="wrap">
    <div class="wrap-content">
      <h3><%= t 'views.devise.change_password' %></h3>
      <p><%= t 'views.devise.change_password_new' %></p><br/>
      <%= simple_form_for :usuario, :url => password_path(:usuario),
        html: { method: :put, autocomplete: 'off' }  do |f| %>
        <%= devise_error_messages! %>

        <%= f.input :reset_password_token, :as => :hidden %>
        <%= f.input :password, autocomplete: "off", readonly: true,
          input_html: {onFocus: "this.removeAttribute('readonly');"} %>
        <%= f.input :password_confirmation, autocomplete: "off" %>

        <%= f.button :submit, value: t('button.change_password'),
          class: 'btn1 btn-primary btn-normal btn-inline' %>
      <% end %>
    </div>
  </div>
  <div class="clear"></div>
</div>
