<div class="content-box">
    <div class="wrap">
        <ul class="events">
            <li class="active"><a href="#">Alterar senha!</a></li>
        </ul>
        <div class="clear"></div>
    </div>
</div>

<div class="main">
    <div class="wrap">
        <div class="wrap-content"> 
          <%= simple_form_for :usuario, :url => password_path(:usuario)  do |f| %>
            <h3>Alterar senha</h3>
            <%= f.input :reset_password_token, :as => :hidden %>
            <%= f.input :password, label: 'Nova Senha' %>
            <%= f.input :password_confirmation, label: 'Confirmar Senha' %>
            <%= f.button :submit, value: 'Alterar senha', label: 'Alterar senha', class: 'btn1 btn-primary btn-normal btn-inline' %>
          <% end %>
        </div>
    </div>
    <div class="clear"></div>
</div>