<div class="content-box">
    <div class="wrap">
        <ul class="events">
            <li class="active"><a href="#">Alterar senha</a></li>
        </ul>
        <div class="clear"></div>
    </div>
</div>

<div class="main">
    <div class="wrap">
        <div class="wrap-content"> 
            <h3>Alterar senha</h3>
            <p>Entre com uma nova senha.</p><br/>
            <%= simple_form_for :usuario, :url => password_path(:usuario), html: { method: :put, autocomplete: 'off' }  do |f| %>
              <%= devise_error_messages! %>
            
              <%= f.input :reset_password_token, :as => :hidden %>
              <%= f.input :password, label: 'Nova Senha', autocomplete: "off", readonly: true, input_html: {onFocus: "this.removeAttribute('readonly');"} %>
              <%= f.input :password_confirmation, label: 'Confirmar Senha', autocomplete: "off" %>
            
              <%= f.button :submit, value: 'Alterar senha', label: 'Alterar senha', class: 'btn1 btn-primary btn-normal btn-inline' %>
            <% end %>
        </div>
    </div>
    <div class="clear"></div>
</div>