<div class="content-head">
  <div class="wrap">
    <ul class="events">
      <li class="active"><a href="#"><%= t 'views.devise.change_password_head' %></a></li>
    </ul>
    <div class="clear"></div>
  </div>
</div>

<div class="main">
  <div class="wrap">
    <div class="wrap-content">
      <h3><%= t 'views.devise.change_password_h3' %></h3>
      <p><%= t 'views.devise.change_password_p' %></p><br/>
      <%= simple_form_for :usuario, url: password_path(:usuario),
        html: { autocomplete: 'off' }  do |f| %>
        <%= devise_error_messages! %>

        <%= f.input :email %>

        <%= f.button :submit, value: t('button.change_password'),
          class: 'btn1 btn-primary btn-normal btn-inline' %>
      <% end %>
    </div>
  </div>
  <div class="clear"></div>
</div>
