<div class="title">
  <% if local.localizavel.logo.exists? %>
    <%= image_tag local.localizavel.logo.url(:small), :class => local.localizavel.fundo? ? "fundo" : nil %>
  <% else %>
    <%= local.localizavel.nome %>
  <% end %>
</div>  

<div class="social">
  <ul>
    <% if local.localizavel.website.present? %>
      <li>
        <%= link_to url_with_protocol(local.localizavel.website), :target => '_blank' do %>
          <i class="fa fa-link fa-2x"></i>
        <% end %>
      </li>
    <% end %>
    <% if local.localizavel.facebook.present? %>
      <li>
        <%= link_to url_with_protocol(local.localizavel.facebook), target: '_blank' do %>
          <i class="fa fa-facebook-square fa-2x"></i>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>

<div class="desc">
    <h4 class="m_2"><%= local.localizavel.contato %></h4>
    <h5 class="m_3"><%= local.endereco.gsub(/\\n/, '<br>').html_safe %></h5>
    <p><%= local.localizavel.descricao %></p>
</div>
