<div class="title">
    <%= local.localizavel.nome %>
    <div>
      <% if local.localizavel.foto.exists? %>
        <%= link_to local.localizavel.foto.url(:original),:rel => "lightbox" do %>
          <%= image_tag local.localizavel.foto.url(:small), :class => local.localizavel.fundo? ? "fundo" : nil %>
        <% end %>
      <% end %>
    </div>
</div>  

<div class="social">
  <ul>
    <% if local.localizavel.website.present? %>
      <li>
        <%= link_to url_with_protocol(local.localizavel.website), :target => '_blank' do %>
          <i class="fa fa-link fa-2x"></i>
        <% end %>
      </li>
    <% end %>
    <% if local.localizavel.facebook.present? %>
      <li>
        <%= link_to url_with_protocol(local.localizavel.facebook), target: '_blank' do %>
          <i class="fa fa-facebook-square fa-2x"></i>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>

<div class="desc">
    <h5 class="m_3"><%= local.endereco.gsub(/\\n/, '<br>').html_safe %></h5>
    <p><%= local.localizavel.descricao %></p>
</div>
