<script type="text/javascript">
        $(document).on('pageload', function() {
  			initialize();
		});    
</script>
	
	
<%= render "layouts/menu"%>
     <div class="map">
     <%#=image_tag("map.jpg") %>
         <!--Mapa do google maps -->
      <div id="map-canvas"></div>
     </div>
     
     <div class="content-box">
     	<div class="wrap">
     		<ul class="events">
				<li class="active"><a href="#">Lojas</a></li> 
			</ul>
			<div class="content-box-left">
    				 <%= form_for home_pistas_path, html: { id: "form_lojas" } ,remote: true  do |f| %>
			  	 <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
			  	 <div class="search_box">
			  		<%=f.collection_select( :estado, Estado.all,:id, :nome , {:prompt => 'Selecione Estado'}, {:class=>'frm-field required'}) %>
			  		</div>
		   	 	  <div class="search_box">
			  		<%=f.collection_select( :esporte, Esporte.all,:id, :nome , {:prompt => 'Selecione Esporte'}, {:class=>'frm-field required'}) %>
			  		</div>
		   		  <% end %>
			   </div>
			</div>
		</div>
     	<div class="clear"></div>
 	 </div>
     </div>
     <div class="main">
     	<div class="wrap" id="paginate_itens">
				<%= render "item", itens: @pistas%>
		</div>
	   </div>
	<div class="clear"></div>
	</div>
<%=render "layouts/footer"%>
	 <%= will_paginate @pistas, :remote => true %>
