<%= render "maps.html", locais: @locais %>

<div class="content-box">
    <div class="wrap">
        <ul class="events">
            <li class="active"><a href="#">Pistas</a></li> 
        </ul>
        <div class="content-box-left">
          <%= form_for home_pistas_path, html: { id: "form_pistas" } ,remote: true  do |f| %>
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <%= render "locais/pesquisa_estado_esporte", f: f %>
          <% end %>
        </div>
    </div>
    <div class="clear"></div>
</div>

<div class="main">
    <div class="wrap row" id="paginate_itens">
      <%= render "locais.html", locais: @locais %>
    </div>
    <div class="clear"></div>
</div>

<div class="wrap_paginate">
  <%= will_paginate @locais, :remote => true  %>
</div>
