<div class="title">
    <%= evento.nome %>
    <div class="flyer">
      <% if evento.flyer.exists? %>
        <%= link_to evento.flyer.url(:original), rel: "lightbox" do %>
          <%= image_tag evento.flyer.url(:small), class: evento.fundo? ? "fundo" : nil, alt: evento.nome %>
        <% end %>
      <% end %>
    </div>
</div>  

<div class="desc">
    <%= evento.descricao %>
</div>

<div class="local_attr">
  <ul>
    <% if evento.datas.present? %>
      <li>
        <i class="fa fa-calendar"></i>
        <%= evento.datas %>
      </li>
    <% end %>
    <% if evento.horario.present? %>
      <li>
        <i class="fa fa-clock-o"></i>
        <%= evento.horario %>
      </li>
    <% end %>
    <% if evento.website.present? %>
      <li>
        <%= link_to url_with_protocol(evento.website), :target => '_blank' do %>
          <i class="fa fa-link"></i>
          <%=  evento.website %>
        <% end %>
      </li>
    <% end %>
    <% if evento.facebook.present? %>
      <li>
        <%= link_to url_with_protocol(evento.facebook), target: '_blank' do %>
          <i class="fa fa-facebook-square"></i>
          <%=  evento.facebook %>
        <% end %>
      </li>
    <% end %>
    <% if local.endereco.present? %>
      <li>
        <i class="fa fa-building attr_ico"></i>
        <span class="attr_txt"><%=  local.endereco %></span>
      </li>
    <% end %>
    <% if dialog %>
      <li>
          <a href="https://www.facebook.com/dialog/feed?app_id=<%= Rails.application.secrets.facebook_key %>&display=popup&link=<%= eventos_url %>&picture=<%= evento.logo_url %>&name=<%= evento.share_message %>&redirect_uri=<%= eventos_url %>" 
             class='fb_share btn-facebook btn1 btn-primary btn-normal btn-share'>
            <i class="fa fa-facebook fa-2x"></i>
            <span>Share</span>
          </a>
          <script type="text/javascript">
            //Utils.openPopup('.fb_share', 'Facebook');
            Facebook.loadFeed('<%= evento.nome %>', '<%= eventos_url %>', '<%= evento.logo_url %>', '<%= evento.share_message %>', '<%= evento.share_message %>');
          </script>
          <a href="https://twitter.com/share?url=<%= eventos_url %>&via=cablushApp&hashtags=cablush&text=<%= evento.share_message %>"
             class='tw_share btn-twitter btn1 btn-primary btn-normal btn-share'>
            <i class="fa fa-twitter fa-2x"></i>
            <span>Share</span>
          </a>
          <script type="text/javascript">
              Utils.openPopup('.tw_share', 'Twitter');
          </script>
      </li>
    <% end %>
  </ul>
</div>
