<%= form_for @evento, html: { multipart: true } do |f| %>
  
  <div class="field">
    <%= f.label 'Nome' %><br>
    <%= f.text_field :nome, class: 'inputbox' %>
  </div>
  <div class="field">
    <%= f.label 'Descrição' %><br>
    <%= f.text_area :descricao, class: 'textarea-box', :maxlength => 250, :cols => 5, :rows => 10 %>
  </div>
  <div class="field">
    <%= f.label 'Data' %><br>
    <%= f.text_field :data, id: 'evento_data', class: 'inputbox maskData' %>
    <script type="text/javascript">
      $(function () {
        $("#evento_data").datepicker({
            dateFormat:'dd/mm/yy',
            language: 'pt-BR',
            minDate: 0
        });
      });
    </script>
  </div>
  <div class="field">
    <%= f.label 'Hora' %><br>
    <%= f.time_select :hora,  {prompt: {hour: "Hora", minute: "Minuto"}}, {class: 'selectbox timeselector'}%>
  </div>
  <div class="field">
    <%= f.label 'Data Fim' %><br>
    <%= f.text_field :data_fim, id: 'evento_data_fim', class: 'inputbox maskData' %>
    <script type="text/javascript">
      $(function () {
        $("#evento_data_fim").datepicker({
            dateFormat:'dd/mm/yy',
            language: 'pt-BR',
            minDate: 0
        });
      });
    </script>
  </div>
  <div class="field">
    <%= f.label 'Site' %><br>
    <%= f.text_field :website, class: 'inputbox'  %> 
  </div>
  <div class="field">
    <%= f.label 'Facebook' %><br>
    <%= f.text_field :facebook, class: 'inputbox'  %>
  </div>
  <div class="field">
    <%= f.label 'Flyer' %><br>
    <%= f.file_field :flyer %><br>
    <%= image_tag @evento.flyer.url(:small), :class => @evento.fundo? ? "fundo" : nil %>
  </div>
  <div class="field">
    <%= f.label 'Fundo Preto' %>
    <%= f.check_box :fundo %>
  </div>
  <fieldset class="subfields">
      <legend>Esportes</legend>
      <%= hidden_field_tag('evento[esporte_ids][]', nil) %>
      <ul>
        <% Esporte.order(:categoria, :nome).each do |esporte| %>
          <li><%= check_box_tag('evento[esporte_ids][]', esporte.id, esporte.id.in?(@evento.esportes.collect(&:id))) %><%= esporte.full_name %></li>
        <% end %>
      </ul>
  </fieldset>
  <fieldset class="subfields">
      <legend>Endereço</legend>
      <%= f.fields_for :local do |local| %>
        <%= render 'locais/local_fields', f: local %>
      <% end %>
  </fieldset>
  <div class="actions">
    <%= f.submit "Confirmar", class: 'btn1 btn-primary btn-normal btn-inline' %>
  </div>
<% end %>
