<div class= "wrap">
  <div id="modal_classificacao" class="modal-body">
    <%= simple_form_for :etapa, html: { id: 'stage_form' } do |f|%>
      <% (1..etapa.max_competidores_prova).each do |i| %>
          <div class="elem-list">
            <div class="title_list">
              <% unless prova.participantes[i-1].nil? %>
                  <%= prova.participantes[i-1].nome %>
                  <%= f.input :pontuacao, class: 'inputbox' %>
              <% else %>
                  <p><%= t('views.cadastros.participante_nome', participante: i.to_s) %></p>
              <% end %>
            </div>
          </div>
        <%= f.button :submit class: "btn_classificacao_save btn1 btn-primary btn-normal btn-inline"%>
      <%end%>
  </div>
</div>