<div class="footer">
    <div class="wrap">
        <div class="footer-menu">
            <ul>
                <li><%= link_to 'Inicio', index_path %></li>
                <li><%= link_to 'Lojas', lojas_path %></li>
                <li><%= link_to 'Eventos', eventos_path %></li>
                <li><%= link_to 'Pistas', pistas_path %></li>
                <!-- <li><%#= link_to 'Blog', blog_path %></li> -->
                <li><%= link_to 'Contato', contact_path %></li>
                <li><%= link_to 'Sobre', about_path %></li>
                <div class="clear"></div>
            </ul>
        </div>
        <div class="footer-bottom">
            <div class="social">
                <!--<ul>	-->
                <!--<li class="facebook"><a href="#"><span> </span></a></li>-->
                <!--<li class="twitter"><a href="#"><span> </span></a></li>-->
                <!--<li class="linked"><a href="#"><span> </span></a></li>	-->
                <!--<li class="arrow"><a href="#"><span> </span></a></li>	-->
                <!--<li class="dot"><a href="#"><span> </span></a></li>-->
                <!--<li class="rss"><a href="#"><span> </span></a></li>		-->
                <!--</ul>-->
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
