<div class="footer">
    <div class="wrap">
        <div class="footer-menu">
            <ul>
                <li><%= link_to 'Inicio', index_path %></li>
                <li><%= link_to 'Lojas', lojas_path %></li>
                <li><%= link_to 'Eventos', eventos_path %></li>
                <li><%= link_to 'Pistas', pistas_path %></li>
                <!-- <li><%#= link_to 'Blog', blog_path %></li> -->
                <li><%= link_to 'Contato', contact_path %></li>
                <li><%= link_to 'Sobre', about_path %></li>
                <div class="clear"></div>
            </ul>
        </div>
        <div class="footer-bottom social">
            <ul>
              <li class="facebook">
                  <div class="fb-follow" data-href="https://www.facebook.com/cablush" data-layout="button" data-show-faces="false"></div>
              </li>
              <li class="twitter">
                  <a href="https://twitter.com/CablushApp" class="twitter-follow-button" data-show-count="false" data-dnt="true">Follow @CablushApp</a>
                  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
              </li>
              <li class="instagram">
                  <style>.ig-b- { display: inline-block; }
                         .ig-b- img { visibility: hidden; }
                         .ig-b-:hover { background-position: 0 -60px; } .ig-b-:active { background-position: 0 -120px; }
                         .ig-b-v-24 { width: 137px; height: 24px; background: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24.png) no-repeat 0 0; }
                         @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
                         .ig-b-v-24 { background-image: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24@2x.png); background-size: 160px 178px; } }
                  </style>
                  <a href="https://www.instagram.com/cablush/?ref=badge" class="ig-b- ig-b-v-24"><img src="//badges.instagram.com/static/images/ig-badge-view-24.png" alt="Instagram" /></a>
              </li>
              <div class="clear"></div>
            </ul>
        </div>
        <div class="footer-bottom apps">
            <ul>
                <li>
                    <a href="https://play.google.com/store/apps/details?id=com.cablush.cablushapp&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-AC-global-none-all-co-pr-py-PartBadges-Oct1515-1"><img alt="Get it on Google Play" src="https://play.google.com/intl/en_us/badges/images/apps/en-play-badge-border.png" width="150"/></a>
                </li>
            </ul>
        </div>
    </div>
</div>
