<div class="header-top">
    <div class="wrap">
        <div class="logo">
            <a href="<%=home_index_path%>"> <%= image_tag("logo.png", size: "200x56") %></a>
        </div>
        
        <div class="cssmenu">
            <nav id="nav" role="navigation">
                <a href="#nav" title="Show navigation">Show navigation</a>
                <a href="#" title="Hide navigation">Hide navigation</a>
                <ul class="clearfix">
                    <li><%= link_to 'Home', home_index_path %></li>
                    <li><%= link_to 'Lojas', home_lojas_path %></li>
                    <li><%= link_to 'Eventos', home_eventos_path %></li>
                    <li><%= link_to 'Pistas', home_pistas_path %></li>
                    <!--<li><%#= link_to 'Blog', home_blog_path %></li>-->
                    <li><%= link_to 'Contato', new_contact_path %></li>
                    <% if usuario_signed_in? %>
                      <li><%= link_to 'Cadastros', home_cadastros_path %></li>
                    <% end %>
                    <div class="clear"></div>
                </ul>
            </nav>
        </div>
        
        <div class="buttons">
            <% if usuario_signed_in? %>
              <div class="login_name">
                Olá, <%= current_usuario.first_name %>
              </div>
              <div class="login_btn">
                <%= link_to "Sign out", destroy_usuario_session_path, method: :delete %>
              </div>
            <% else %>
              <div class="login_btn">
                <%= link_to "Entre", new_usuario_session_path %> 
              </div>
              <div class="get_btn">
                <%= link_to "Cadastre-se", new_usuario_registration_path %>
              </div>
            <% end %>	
            <div class="clear"></div>
        </div>
        <div class="clear"></div>

        <h2 class="head"><%= @title %></h2>

    </div>
</div>