<div class="header-top">
    <div class="wrap">
        <div class="logo">
            <a href="index.html"> <%= image_tag("logo.png", size: "200x56") %></a>
        </div>
        <div class="cssmenu">
            <nav id="nav" role="navigation">
                <a href="#nav" title="Show navigation">Show navigation</a>
                <a href="#" title="Hide navigation">Hide navigation</a>
                <ul class="clearfix">
                    <!-- <li><%#= link_to_if current_usuario.admin?, 'Cadastro de Usuários', usuarios_path %></li> -->
                    <li><%= link_to 'Cadastro de Lojas', lojas_path %></li>
                    <li><%= link_to 'Cadastro de Eventos', eventos_path %></li>
                    <li><%= link_to current_usuario.admin?, 'Cadastro de Pistas', pistas_path %></li>
                    <div class="clear"></div>
                </ul>
            </nav>
        </div>
        <div class="buttons">
            <div class="login_btn">
                <% if usuario_signed_in? %>
                  <%= link_to "Sign out", destroy_usuario_session_path, :method => :delete %>
              </div>
            <% else %>
              <%= link_to "Login / Sign in", new_usuario_session_path %> 
          </div>
          <div class="get_btn">
              <%= link_to "sign up", new_usuario_registration_path %>
          </div>
        <% end %>	
        <div class="clear"></div>
    </div>
    <div class="clear"></div>

    <h2 class="head"><!-- NOME DA LOJA--><%#= loja.nome %> <%= @title %> </h2>
</div>
</div>