<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
    <head>
        <title><%= full_title(@title) %></title>
        <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
        <%= javascript_include_tag "application" , "data-turbolinks-track" => true %>
        <%= csrf_meta_tags %>
        <%= favicon_link_tag 'favicon.ico' %>
    </head>
    <body class="<%= controller_name %> <%= action_name %>">

        <%= render "layouts/menu"%>
        
        <%= render "layouts/message"%>
        
        <%= yield %>

        <%=render "layouts/footer"%>
        
        <div class="modal"></div>
        
        <script type="text/javascript">
          window.api_key = "<%= Rails.application.secrets.js_api_key %>";
        </script>
    </body>
</html>
